<div class="mob-menu js-menu-container" id="mobile-menu">
  <div>
    <div class="mob-menu-logo-bt-wrap">
      <a class="link logotype-link" href="./index.html">
        <img
          class="logo-img"
          srcset="/img/logo-x1.png 1x, /img/logo-x2.png 2x"
          src="/img/logo-x1.png"
          alt="site statistics"
          width="14"
          height="14"
        />
        <span class="logotype-link-text">thewatchspot</span>
      </a>
      <button
        type="button"
        aria-label="close menu"
        class="mob-menu-close js-close-menu"
      >
        <svg width="24" height="24" class="mob-menu-close-icon">
          <use href="/img/symbol.svg#icon-closesvg"></use>
        </svg>
      </button>
    </div>

    <div class="mob-menu-list-wrap">
      <ul class="mob-menu-list list">
        <li class="mob-menu-list-item">
          <a class="mob-menu-link link js-close-menu" href="#about-us"
            >About us</a
          >
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-link link js-close-menu" href="#catalog"
            >Catalog</a
          >
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-link link js-close-menu" href="#sale">Sale</a>
        </li>
      </ul>
    </div>
  </div>
</div>
