<section id="catalog" class="section catalogs">
  <div class="container">
    <h2 class="section-title">Catalog</h2>
    <ul class="catalog">
      <li class="item">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock1-min.png 1x, ./img/Clock1@2x-min.png 2x"
              src="./img/Clock1-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
              <ul class="overlay-text">
                <li>Gender: man</li>
                <li>Size: 46x54.5mm</li>
                <li>Band Material: Metal</li>
                <li>Case Material: Metal</li>
                <li>Features: Multifunction</li>
                <li>Water Resistant: 5 (ATM)</li>
                <li>Band Colour: Steel</li>
              </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Tube Watch S42 Date Steel With Black</p>
            <span class="price">€500</span>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock2-min.png 1x, ./img/Clock2@2x-min.png 2x"
              src="./img/Clock2-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Avondale Watch Police For Men</p>
            <span class="price">€800</span>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock3-min.png 1x, ./img/Clock3@2x-min.png 2x"
              src="./img/Clock3-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Diver 300M Co‑Axial Master Chronometer</p>
            <span class="price">€600</span>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock4-min.png 1x, ./img/Clock4@2x-min.png 2x"
              src="./img/Clock4-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Diver 300M Co-Axial Master Chronometer</p>
            <span class="price">€1400</span>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock5-min.png 1x, ./img/Clock5@2x-min.png 2x"
              src="./img/Clock5-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Taman Watch By Police For Men</p>
            <span class="price">€500</span>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock6-min.png 1x, ./img/Clock6@2x-min.png 2x"
              src="./img/Clock6-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Greenlane Watch By Police For Men</p>
            <span class="price">€1000</span>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock7-min.png 1x, ./img/Clock7@2x-min.png 2x"
              src="./img/Clock7-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Greenlane Watch By Police For Men</p>
            <span class="price">€1000</span>
          </div>
        </a>
      </li>
      <li class="item">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock8-min.png 1x, ./img/Clock8@2x-min.png 2x"
              src="./img/Clock8-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Greenlane Watch By Police For Men</p>
            <span class="price">€1000</span>
          </div>
        </a>
      </li>
      <li class="item blockmob">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock9-min.png 1x, ./img/Clock9@2x-min.png 2x"
              src="./img/Clock9-min.npg"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Squardrc 5402 Chrono</p>
            <span class="price">€359</span>
          </div>
        </a>
      </li>
      <li class="item blockmob">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock10-min.png 1x, ./img/Clock10@2x-min.png 2x"
              src="./img/Clock10-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Diver 300M Co‑Axial Master</p>
            <span class="price">€400</span>
          </div>
        </a>
      </li>
      <li class="item blockmob">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock11-min.png 1x, ./img/Clock11@2x-min.png 2x"
              src="./img/Clock11-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Citizen</p>
            <span class="price">€519</span>
          </div>
        </a>
      </li>
      <li class="item blockmob">
        <a href="" class="catalog-card">
          <div class="overlay">
            <img
              srcset="./img/Clock12-min.png 1x, ./img/Clock12@2x-min.png 2x"
              src="./img/Clock12-min.png"
              alt="clock"
              width="276"
              height="325"
            />
            <div class="overlay-desrpiption">
              <h3 class="overlay-title">Description</h3>
              <p class="overlay-text size">
                Richly detailed with an understated design - the Police Men’s
                Greenlane watch.
              </p>
              <h3 class="overlay-title">DETAILS & FEATUREStion</h3>
                <ul class="overlay-text">
                  <li>Gender: man</li>
                  <li>Size: 46x54.5mm</li>
                  <li>Band Material: Metal</li>
                  <li>Case Material: Metal</li>
                  <li>Features: Multifunction</li>
                  <li>Water Resistant: 5 (ATM)</li>
                  <li>Band Colour: Steel</li>
                </ul>
            </div>
          </div>
          <div class="catalog-desrpiption">
            <p class="section-text">Armani Exchange</p>
            <span class="price">€400</span>
          </div>
        </a>
      </li>
    </ul>
    <button
      data-modal-open
      type="button"
      class="catalog-button data-modal-open"
    >
      Buy now
    </button>
  </div>
</section>
