
<section class="catalog-section">
<div class="catalog-container">
<h2 class="catalog-title" id="catalog">Catalog</h2>
    <ul class="catalog-list list">
        <li class="catalog-item">
            <figure class="catalog-figure">
                <img src="./images/catalog/tubewatch.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - the Police Men’s Tube watch S42.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                    <br>Size:46x54.5mm
                    <br>Case Colour:Steel
                    <br>Band Material:Metal
                    <br>Case Material:metal
                    <br>Features:Multifunction
                    <br>Water Resistant: 5 (ATM)
                    <br>Band Colour: Steel
                </p>
            </figcaption>
            </figure>
            <div class="catalog-caption">
                    <h3 class="content">Tube Watch S42 Date Steel With Black Case</h3>
                    <p>&euro;395</p>
                </div>
            </li>
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/avondale.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - the Police Men’s Avondale.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="content">Avondale Watch Police For Men</h3>
                    <p>&euro;800</p>
                </div>
            </li>
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/diver1.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - Diver 300M Co‑Axial Master Chronometer Chronograph.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="catalog-content content">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                    <p>&euro;600</p>
                </div>
            </li>
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/diver2.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - the Police Men’s Avondale.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="content">Diver 300M Co-Axial Master Chronometer</h3>
                    <p>&euro;1400</p>
                </div>
            </li>
            </ul>
            <ul class="catalog-list list">
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/taman.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - the Police Men’s Taman.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="content">Taman Watch By Police For Men</h3>
                    <p>&euro;500</p>
                </div>
            </li>
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/malawi.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - the Police Men’s Malawi.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="content">Malawi Watch Police For Men</h3>
                    <p>&euro;555</p>
                </div>
            </li>
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/diver3000.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - Diver 300M Co-Axial Master.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="watch-content content">Diver 300M Co-Axial Master Chronometer</h3>
                    <p>&euro;1200</p>
                </div>
            </li>
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/greenlane.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="content">Greenlane Watch By Police For Men</h3>
                    <p>&euro;1000</p>
                </div>
            </li>
            </ul>
            <ul class="catalog-list list">
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/squardrc.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - Squardrc 5402 Chrono.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="content">Squardrc 5402 Chrono</h3>
                    <p>&euro;359</p>
                </div>
            </li>
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/diver4.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - Diver 300M Co‑Axial Master Chronometer.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="watch-content content">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                    <p>&euro;400</p>
                </div>
            </li>
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/citizen.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - the Police Men’s Citizen.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="content">Citizen</h3>
                    <p>&euro;519</p>
                </div>
            </li>
            <li class="catalog-item">
                <figure class="catalog-figure">
                <img src="./images/catalog/armani.jpg" alt="watch" width="276" height="274">
                <figcaption>
                    <h4>DESCRIPTION</h4>
                    <p>Richly detailed with an understated design - Armani Exchange.</p>
                    <h4>Details and Featurestion</h4>
                    <p>Gender:man
                        <br>Size:46x54.5mm
                        <br>Case Colour:Steel
                        <br>Band Material:Metal
                        <br>Case Material:metal
                        <br>Features:Multifunction
                        <br>Water Resistant: 5 (ATM)
                        <br>Band Colour: Steel
                    </p>
                </figcaption>
                </figure>
                <div class="catalog-caption">
                    <h3 class="content">Armani Exchange</h3>
                    <p>&euro;400</p>
        </div>

    </li>

</ul>
<!-- button -->
<div class="catalog-btn-container">
    <button class="button-catalog" type="submit" data-modal-open>BUY NOW</button>
    </div>
</div>
</section>

    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
        <button type="button" class="modal-close" data-modal-close>
        <svg class="modal-close-icon" width="10" height="10">
            <use href="./images/catalog/icons.svg#modal-close"></use>
        </svg>
    </button>
        <div class="modal-catalog-item">
            <figure class="modal-catalog-figure">
                <img src="./images/catalog/tubewatch.jpg" alt="watch" width="276" height="274">
            </figure>
            <div class="modal-catalog-caption">
                    <h3 class="modal-content">Tube Watch S42 Date Steel With Black Case</h3>
                    <p>&euro;395</p>
                </div>
        </div>

    <form class="modal-signup-form" name="signup-form" autocomplete="on">
    <label class="modal-form-label" for="full-name">
        <span class="form-label-text">Full Name</span>
        <input class="form-label-input" type="text" id="full-name" placeholder="Enter your full name">
    </label>

    <label class="modal-form-label" for="email">
        <span class="form-label-text">Email</span>
        <input class="form-label-input" type="email" id="email-address" placeholder="Enter your email">
    </label>

    <label class="modal-form-label" for="card-number">
        <span class="form-label-text">Card Number</span>
        <input class="form-label-input" type="text" id="card-number" placeholder="Enter card">
    </label>

    <label class="modal-form-textarea">
        <span class="form-label-text">Comment</span>
        <textarea name="comment" class="form-label-textarea" placeholder="Enter your text" rows="10"></textarea>
    </label>

    <button class="modal-form-button" type="submit">Submit</button>

    <label class="modal-form-description">
    <span class="button-description">By clicking on “Submit” button, you agree to our Privacy Policy,
        <br>and allow Promodo to use this information for marketing purposes.</span>
    </label>
    </form>
    </div>
</div>