<footer class="section footer">
  <div class="container">
    <div class="foot">
      <div class="footer-logo">
        <a class="footer-logo-link" href="./index.html">
          <img src="./img/logo.svg" alt="logo" width="50" height="50" />
        </a>
        <ul class="footer-address-list">
          <li>
            <a href="tel:+380684439426" class="link-addres-tel"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-addres-map">
            <a
              href="https://www.google.com/maps"
              class="link-addres-map"
              target="_blank"
              >1678 S. Pioneer Road <br />
              Salt Lake City <br />
              UT 84104</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-menu-div">
        <ul class="footer-menu">
          <li class="footer-menu-link">
            <a href="#about-us" class="footer-menu-text">About us</a>
          </li>
          <li class="footer-menu-link">
            <a href="#catalog" class="footer-menu-text">Catalog</a>
          </li>
          <li class="footer-menu-link">
            <a href="#sale" class="footer-menu-text">Sale</a>
          </li>
        </ul>
      </div>
      <div class="footer-icon-wrap">
        <ul class="footer-icon-list">
          <li class="footer-social">
            <a
              class="footer-icon-link"
              href="https://www.facebook.com"
              target="_blank"
            >
              <svg width="24px" height="24px" class="footer-icon">
                <use href="./img/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social">
            <a
              class="footer-icon-link"
              href="https://www.instagram.com"
              target="_blank"
            >
              <svg width="24px" height="24px" class="footer-icon">
                <use href="./img/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social">
            <a
              class="footer-icon-link"
              href="https://www.youtube.com"
              target="_blank"
            >
              <svg width="24px" height="24px" class="footer-icon">
                <use href="./img/symbol-defs.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-text-wrap">
        <p class="footer-text copy">
          &#169;2022 The Watch Spot. All rights reserved.
        </p>

        <ul class="footer-text-list">
          <li>
            <a class="footer-text footer-text-link" href="">Privacy Policy</a>
          </li>
          <li>
            <a class="footer-text footer-text-link" href="">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
