<header class="header">
    <div class="container header-container">
        <nav class="header-nav">
            <a href="./index.html" href="#" data-scrollto="body" class="header-logo">
                <img src="/src/images/logo.svg" alt="" width="14" height="14" />
                thewatchspot
            </a>
        <ul class="header-list">
            <li class="header-item">
                <a class="header-link" href="#about" data-scrollto="section-about-us">About us</a>
            </li>
            <li class="header-item">
                <a class="header-link" href="#catalog" data-scrollto="catalog-section">Catalog</a>
            </li>
            <li class="header-item">
                <a class="header-link" href="#sale" data-scrollto="section-sales">Sale</a>
            </li>
        </ul>
      </nav>
        <a class="header-tel-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
        <button type="button" class="menu-open" data-menu-open>
            <svg class="menu-open-icon" width="24" height="24">
                <use href="/src/images/header-icons.svg#btn-menu"></use>
            </svg>
        </button>
    </div>
    <div class="mobile-menu" data-menu>
        <div class="container mobile-menu-container">
            <div class="mob-menu-header">
                <a href="./index.html" class="header-logo" data-scrollto="body">
                    <img src="/src/images/logo.svg" alt="" width="14" height="14" />
                    thewatchspot
                </a>
                <button type="button" class="mobile-menu-close-btn" data-menu-close>
                    <svg class="mobile-menu-close-icon">
                        <use href="/src/images/header-icons.svg#cross-big"></use>
                    </svg>
                </button>
            </div>
            <div class="mobile-menu-list-container">
                <ul class="mobile-menu-list">
                    <li class="mobile-menu-item">
                        <a class="mobile-menu-link" href="#about" data-scrollto="section-about-us" data-menu-close>About us</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a class="mobile-menu-link" href="#catalog" data-scrollto="catalog-section" data-menu-close>Catalog</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a class="mobile-menu-link" href="#sale" data-scrollto="section-sales" data-menu-close>Sale</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>