<section class="section section-udercover">
  <div class="container">
    <div class="hero">
      <h1 class="main-title order1">
        Welcome to our collection of premium watches
      </h1>
      <div class="swiper order2" id="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/heroclock1_td_1x.jpg 1x,
                  ./img/heroclock1_td_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/heroclock1_m_1x.jpg 1x,
                  ./img/heroclock1_m_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/heroclock1_m_1x.jpg" alt="clock1" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/heroclock2_td_1x.jpg 1x,
                  ./img/heroclock2_td_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/heroclock2_m_1x.jpg 1x,
                  ./img/heroclock2_m_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/heroclock2_m_1x.jpg" alt="clock2" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/heroclock3_td_1x.jpg 1x,
                  ./img/heroclock3_td_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/heroclock3_m_1x.jpg 1x,
                  ./img/heroclock3_m_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/heroclock3_m_1x.jpg" alt="clock3" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/heroclock4_td_1x.jpg 1x,
                  ./img/heroclock4_td_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/heroclock4_m_1x.jpg 1x,
                  ./img/heroclock4_m_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/heroclock4_m_1x.jpg" alt="clock4" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/heroclock5_td_1x.jpg 1x,
                  ./img/heroclock5_td_2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/heroclock5_m_1x.jpg 1x,
                  ./img/heroclock5_m_2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./img/heroclock5_m_1x.jpg" alt="clock5" />
            </picture>
          </div>
        </div>
        <div
          class="swiper-pagination swiper-pagination-fraction swiper-pagination-vertical"
        ></div>
        <div class="swiper-buttons">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

      <p class="hero-text order3">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>

      <div class="hero-image order4">
        <picture>
          <source
            srcset="./img/heroimage_d_1x.jpg 1x, ./img/heroimage_d_2x.jpg 2x"
            media="(min-width: 1280px)"
            width="676"
          />
          <source
            srcset="./img/heroimage_t_1x.jpg 1x, ./img/heroimage_t_2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/heroimage_m_1x.jpg 1x, ./img/heroimage_m_2x.jpg 2x"
            media="(max-width: 768px)"
          />
          <img
            src="./img/heroimage_m_1x.jpg"
            alt="the watches on the hand"
            class="image"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
