<section class="new-watches">
    <div class="container nw-container">
        <h2 class="nwsec-title">New watches</h2>
        <p class="nwsecsub-title">Green And Bronze—The Match Made In Heaven</p>
        <div class="nw-item-container">
            <picture>
                <source
                srcset="
                    ./images/new-watches/image2-desktop.jpg    1x,
                    ./images/new-watches/image2-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                />
                <source
                srcset="
                    ./images/new-watches/image2-tablet.jpg    1x,
                    ./images/new-watches/image2-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
                />
                <source
                srcset="
                    ./images/new-watches/image2-mobile.jpg    1x,
                    ./images/new-watches/image2-mobile@2x.jpg 2x
                "
                />
                <img
                src="./images/new-watches/image2-mobile.jpg"
                alt="new-watches-green"
                class="nw-img"
                />
            </picture>
            <picture>
                <source
                srcset="
                    ./images/new-watches/image1-desktop.jpg    1x,
                    ./images/new-watches/image1-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
                />
                <source
                srcset="
                    ./images/new-watches/image1-tablet.jpg    1x,
                    ./images/new-watches/image1-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
                />
                <source
                srcset="
                    ./images/new-watches/image1-mobile.jpg    1x,
                    ./images/new-watches/image1-mobile@2x.jpg 2x
                "
                />
                <img
                src="./images/new-watches/image1-mobile.jpg"
                alt="new-watches-black"
                class="nw-img"
                />
            </picture>
        </div>
    </div>
</section>