<section class="section new-watches">
  <div class="container">
    <h2 class="subtitle">New-watches</h2>
    <h3 class="title title-new-wathes">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul class="new-watches-list">
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ./img/new-watches-desktop-min.jpg    1x,
              ./img/new-watches-desktop@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./img/new-watches-tablet-min.jpg    1x,
              ./img/new-watches-tablet@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/new-watches-mob-2x-min.jpg 2x"
            media="(max-width: 768px)"
          />

          <img
            src="./img/new-watches-mob-min.jpg"
            alt="the hand with watches"
            class="image"
          />
        </picture>
      </li>
      <li class="new-watches-item">
        <picture>
          <source
            srcset="
              ./img/new-watches2-desktop-min.jpg    1x,
              ./img/new-watches2-desktop@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />

          <source
            srcset="
              ./img/new-watches2-tablet-min.jpg    1x,
              ./img/new-watches2-tablet@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="./img/new-watches2-mob-2x.jpg 2x"
            media="(max-width: 768px)"
          />

          <img
            src="./img/new-watches-mob-min.jpg"
            alt="the hand with watches"
            class="image"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
