<section id="sale" class="sales-section">
    <div class="container sales-container">
        <h2 class="title" >Sale</h2>
        <ul class="sales-menu">

            <li class="sales-images-item">
                <div class="sales-gallery">

                    <ul class="sales-image-list">
                        <li class="sales-watch-pictures"><img src="./images/w1.jpg" alt="front-faced-watch"></li>
                        <li class="sales-watch-pictures"><img src="./images/w2.jpg" alt="side-faced-watch"></li>
                        <li class="sales-watch-pictures"><img src="./images/w3.jpg" alt="back-faced-watch"></li>
                        <li class="sales-watch-pictures"><img src="./images/w4.jpg" alt="closer-faced-watch"></li>
                    </ul>
                    <ul class="featured-image">
                        <li class="sales-featured-pictures"><img src="./images/main watch.jpg" alt="main watch" ></li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="featured-watch-menu">
            <div class="sales-Greenlane-watch">
                    <h3 class="watch-title">Greenlane Watch By Police For MenHT </h3>
                    <p class="watch-tag">Product tag: PEWJK2227003</p>

                    <ul class="watch-price">
                        <li class="watch-price-black">€700</li>
                        <li>€1000</li>
                    </ul>
            </div>

            <div class="watch-description">
                <h4 class="watch-detail-title">Description</h4>
                <p class="watch-detail-text">
                    Richly detailed with an understated design -
                    the Police Men’s Greenlane watch features a
                    versatile multifunction design that fits
                    effortlessly into work and play.
                    The steel case is adorned with a 
                    semi-transparent black dial. 
                    The timepiece exhibits a contrast
                    through a black IP bracelet with
                    matching crown and pushers.
                </p>
            </div>

            <div class="watch-features">
                <h4 class="watch-features-title">DETAILS & FEATURESTION</h4>
                <ul class="features-items">
                    <li>Gender: man</li>
                    <li>Size: 46x54.5mm</li>
                    <li>Case Colour: Steel</li>
                    <li>Band Material: Metal</li>
                    <li>Case Material: Metal</li>
                    <li>Features: Multifunction</li>
                    <li>Water Resistant: 5 (ATM)</li>
                    <li>Band Colour: Steel</li>
                </ul>
            </div>
        </div>    
    </div>

</section>