/***** MODAL *****/

body.modal-open {
    overflow: hidden;
}

.modal-open-btn {
    padding: 14px 28px;
    background: var(--footer-burger-accent-bg-dark-green);
    border-radius: 8px;
    border-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-white-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 32, 19, 0.489);
    overflow-y: scroll;
    transition: opacity, visibility;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 40px 20px;
    width: 335px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05), 0px 0px 130.6px rgba(0, 0, 0, 0.037963), 0px 0px 71.0296px rgba(0, 0, 0, 0.0303704), 0px 0px 36.2375px rgba(0, 0, 0, 0.025), 0px 0px 18.1704px rgba(0, 0, 0, 0.0196296), 0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
    transform: translate(-50%, 0) scale(1);
    transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
    transform: scale(0);
}

.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: transparent;
    border: none;
}

.modal-close-icon {
    stroke: var(--text-color);
}

.modal-watch-card {
    padding-right: 9.5px;
    padding-left: 9.5px;
    margin-bottom: 40px;
}

.modal-img {
    margin-bottom: 39px;
}

.section-text {
    white-space: nowrap;
}

.input-wraper {
    margin-bottom: 18px;
}

.modal-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--text-color);
    margin-bottom: 12px;
}

.modal-form-input, .modal-textarea {
    width: 100%;
    height: 42px;
    padding: 12px 16px;
    border: 1px solid var(--form-input-placeholder-color);
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--text-color);
}

.modal-form-input:invalid {
    border-color: rgb(255, 0, 0);
}

.textarea-wraper {
    margin-bottom: 20px;
}

.modal-textarea {
    width: 100%;
    height: 170px;
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 18px 116px;
    margin-bottom: 12px;
    background: var(--footer-burger-accent-bg-dark-green);
    border-color: transparent;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-white-color);
}

.submit-btn:hover {
    border-color: var(--text-white-color);
}

.modal-check {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.4);
}

.privacy-link {
    text-decoration: underline;
}

/***** TABLET *****/

@media screen and (min-width: 768px) {
    .modal {
        top: 50%;
        display: flex;
        gap: 20px;
        width: 744px;
        padding: 40px;
        transform: translate(-50%, -50%) scaleY(1);
    }

    .modal-close-btn {
        top: 20px;
        right: 20px;
        width: 24px;
        height: 24px;
    }

    .modal-form-label {
        font-size: 14px;
        line-height: 1.29;
    }

    .modal-form-input,
    .modal-textarea {
        font-size: 16px;
        line-height: 1.12;
    }

    .modal-watch-card {
        width: 276px;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
}

/***** DESKTOP *****/

@media screen and (min-width: 1280px) {

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        gap: 40px;
        width: 904px;
        transform: translate(-50%, -50%) scaleY(1);
    }

    .backdrop.is-hidden .modal {
        transform: translate(-50%, -50%) scaleY(0);
    }
    
    .input-wraper {
        margin-bottom: 24px;
    }

    .textarea-wraper {
        margin-bottom: 40px;
    }
}